body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.currencyChange {
    background-color: #CFE2FF;
    color: #084298;
    margin-left: 1px;
}

.currency {
    display: flex;
    width: auto;
    height: 57.6px;
    border: none;
}

.currencyPrefix {
font-size: 16px;
position: absolute;
left: 440px;
}